

.etusivu {
      background-image: url('https://github.com/Pihajoki/WebDevausProjekti/blob/main/shishkebabo.png?raw=true');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }

    .etusivunotsikko{
      margin-top: 2em;
      margin-bottom: 2em;
      text-shadow: 1px 1px 4px black;
    }

    .etusivunteksti{
      font-size: 1.2em;
      text-shadow: 1px 1px 4px black;
    }

    .navRed {
      color: #e7000b; 
    }

    .index {
      min-height: 100vh;
    }

    .punfooter{
      background-color: rgba(255, 255, 255);
      color: rgba(231, 0, 11);
      text-align: center;
      font-size: 20px;
    }

    .asiakasbox{
      width: 417px;
      height: 475px;
      margin-top: 200px;
      margin-left: 200px;
      margin-right: 200px;
      background-color: rgba(244, 244, 244);
      border-radius: 10px;
      font-weight: bold;
      display: flex;
      flex-direction: row;

    }

    .ravintola{
    background-image: url(https://github.com/Pihajoki/WebDevausProjekti/blob/main/ketola.png?raw=true);
    width:800px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    }

    .kursori{
      cursor: url('https://github.com/Pihajoki/WebDevausProjekti/raw/refs/heads/main/favicon(1).ico'), auto;
    }

    .keskitys{
          align-content: center;
          text-align: center;
    }

    .bold{
      font-weight: bold;
    }