

.etusivu {
      background-image: url('https://github.com/Pihajoki/WebDevausProjekti/blob/main/shishkebabo.png?raw=true');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }

    .etusivunotsikko{
      margin-top: 2em;
      margin-bottom: 2em;
      text-shadow: 1px 1px 4px black;
    }

    .etusivunteksti{
      font-size: 1.2em;
      text-shadow: 1px 1px 4px black;
    }

    .navRed {
      color: #e7000b; 
    }

    .index {
      min-height: 100vh;
    }

    .punfooter{
      background-color: rgba(255, 255, 255);
      color: rgba(231, 0, 11);
      text-align: center;
      font-size: 20px;
    }

    .asiakasbox{
      width: 100%;
      height: auto;
      margin-top: 200px;
      margin-left: 510px;
      margin-right: 300px;
      background-color: rgba(244, 244, 244);
      border-radius: 10px;
      box-shadow: 1px 1px 7px black;
    }


    .kursori{
      cursor: url('https://github.com/Pihajoki/WebDevausProjekti/raw/refs/heads/main/favicon(1).ico'), auto;
    }

    .keskitys{
          align-content: center;
          text-align: center;
    }

    .bold{
      font-weight: bold;
    }

    .kortti {
      margin: 10px 10px 10px 10px;
      width: 80%;

    }

    body::after{
    position:absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url('https://github.com/Pihajoki/WebDevausProjekti/blob/main/ketola.png?raw=true');
}

@media screen and (min-width: 768px) {
  .asiakasbox{
    width: 100%;
  }

}