    .etusivu {
      background-image: url('https://github.com/Pihajoki/WebDevausProjekti/blob/main/shishkebabo.png?raw=true');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; /* Prevents the image from repeating */
      background-attachment: fixed;
    }

    .etusivunotsikko{
      margin-top: 2em;
      margin-bottom: 2em;
      text-shadow: 1px 1px 4px black;
    }

    .etusivunteksti{
      font-size: 1.2em;
      text-shadow: 1px 1px 4px black;
    }

    .navRed {
      color: #e7000b; 
    }

    .index {
      min-height: 100vh;
    }

    .punfooter{
      background-color: rgba(255, 255, 255);
      color: rgba(231, 0, 11);
      text-align: center;
      font-size: 20px;
    }